.Form_container{
    box-shadow: 0 0 15px 1px #48abe0;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
